html {
    font-size : 16px;
}
@media screen and (min-width : 320px) {
    html {
        /*font-size: calc(16px + 6 * ((100vw - 320px) / 680));*/
    }
}
@media screen and (min-width : 1000px) {
    html {
        /*font-size: 22px;*/
    }
}
body {
    font-size   : calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height : calc(21px + (30 - 21) * ((100vw - 300px) / (1600 - 300)));
}
caption.diagramm,
p.diagram {
    margin : 10px auto 70px auto !important;
}
b,
.bold {
    font-weight : 900;
}
span.language {
    font-weight : 700;
    color       : #5588e1;
}
.docs-time {
    color       : #5579d2;
    font-family : "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
    "Droid Sans Mono", monospace, monospace;
}
body,
.docs-article p {
    color       : #778 !important;
    text-align  : left;
    line-height : 28px;
}
.docs-article h1 {
    font-weight   : 900;
    color         : #000 !important;
    margin-bottom : 2.8rem;
    position      : relative;
    font-size     : calc(
        32px + (56 - 32) * ((100vw - 300px) / (1600 - 300))
    ) !important;
}
.docs-article h2.section-heading {
    font-weight   : 900;
    font-size     : calc(
        28px + (48 - 28) * ((100vw - 300px) / (1600 - 300))
    ) !important;
    margin-top    : 95px !important;
    margin-bottom : 1rem !important;
}
.docs-article h3.section-heading {
    font-weight   : 900;
    /*font-size     : 2.8rem;*/
    font-size     : calc(
        24px + (40 - 24) * ((100vw - 300px) / (1600 - 300))
    ) !important;
    margin-top    : 15px !important;
    margin-bottom : 2rem !important;
    color         : #5579d2;
}
.docs-section > h3 {
    font-weight   : 200;
    font-size     : 2.6rem;
    margin-top    : 120px !important;
    margin-bottom : 1.75rem !important;
    color         : #335;
}
.docs-section > h4,
h4 {
    font-weight   : 900;
    font-size     : 1.8rem;
    margin-top    : 5px !important;
    margin-bottom : 2.75rem !important;
    color         : #77a;
}
h5 {
    font-weight   : 700 !important;
    font-size     : 1.4rem !important;
    margin-top    : 45px !important;
    margin-bottom : 1.2rem;
}
ol.guidelines > li {
    margin-left : 45px;
}
ol.guidelines li > span.bold {
}
ol.guidelines li > span.description {
    display : block !important;
}
.file-ext {
    color       : #363e4d;
    font-weight : 200 !important;
}
td h3 {
    margin-top : 0px;
}
table {
    margin-top    : 75px;
    margin-bottom : 55px;
}
div.outline-indicator {
    display    : inline-block !important;
    float      : right !important;
    clear      : right !important;
    /*clear   : right !important;*/
    color      : #ddddde !important;
    width      : 40px;
    max-width  : 90px;
    text-align : right;
}
code {
    color            : #5579d2;
    background-color : #f9f2f4;
    border-radius    : 4px;
}
a.nav-link {
    display : block;
}
.docs-nav .nav-link,
.docs-nav .nav-link.section-title {
    display  : block;
    position : relative;
    padding  : 0.5rem 1rem;
    color    : #5579d2;
}
a.nav-link.section-title {
    font-weight : 900 !important;
}
.no-shadow,
.no-shadow:hover {
    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    box-shadow         : none;
}
.shadow {
    -webkit-box-shadow : 0px 10px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow    : 0px 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow         : 0px 10px 20px rgba(0, 0, 0, 0.2);
}
p.section-intro {
    font-weight : 400;
    font-size   : 1.2rem !important;
    margin      : 1.8rem 0;
}
img.diagram {
    display   : block !important;
    width     : 100%;
    max-width : 1000px;
    margin    : 80px auto 0px auto !important;
}
.graphic-caption {
    color      : #5579d2;
    text-align : left;
    font-size  : 11px;
    margin     : 5px 0 60px 0;
}
img.caption-inspector-logo {
    display   : block !important;
    width     : 100%;
    max-width : 1024px;
    margin    : 80px auto;
}
.callout-block.callout-block-info {
    border-radius     : 8px !important;
    padding-top       : 1px !important;
    color             : white !important;
    border-left-width : 60px;
}
.callout-block.callout-block-warning {
    border-radius     : 8px !important;
    padding-top       : 1px !important;
    border-left-width : 60px;
}
.callout-block.callout-block-info > .content > p {
    color : white !important;
}
.callout-block.callout-block-info > .content a {
    color : white !important;
}
.callout-block.callout-block-info .callout-title {
    margin-top  : 0;
    font-weight : 900 !important;
    font-size   : 2rem !important;
    color       : white !important;
}
.callout-block.callout-block-warning .callout-title {
    margin-top  : 0;
    font-weight : 900 !important;
    font-size   : 2rem !important;
}
code {
    color            : #c7254e;
    background-color : #f9f2f4;
    border-radius    : 4px;
}
code,
kbd {
    padding : 2px 4px;
}
kbd {
    color            : #fff;
    background-color : #333;
    border-radius    : 3px;
    box-shadow       : inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
    padding    : 0;
    font-size  : 100%;
    box-shadow : none;
}
pre {
    display          : block;
    margin           : 0 0 10px;
    word-break       : break-all;
    word-wrap        : break-word;
    color            : #333;
    background-color : #f5f5f5;
    border           : 1px solid #ccc;
    border-radius    : 4px;
}
pre code {
    padding          : 0;
    font-size        : inherit;
    color            : inherit;
    white-space      : pre-wrap;
    background-color : transparent;
    border-radius    : 0;
}
.pre-scrollable {
    max-height : 340px;
    overflow-y : scroll;
}
.center-block {
    display      : block;
    margin-left  : auto;
    margin-right : auto;
}
.pull-right {
    float : right !important;
}
.pull-left {
    float : left !important;
}
.hide {
    display : none !important;
}
.show {
    display : block !important;
}
.invisible {
    visibility : hidden;
}
.text-hide {
    font             : 0/0 a;
    color            : transparent;
    text-shadow      : none;
    background-color : transparent;
    border           : 0;
}
.hidden {
    display    : none !important;
    visibility : hidden !important;
}
.affix {
    position          : fixed;
    -webkit-transform : translate3d(0, 0, 0);
    transform         : translate3d(0, 0, 0);
}
.hljs {
    display                  : block;
    overflow-x               : auto;
    padding                  : 0.5em;
    background               : #002b36;
    color                    : #839496;
    -webkit-text-size-adjust : none;
}
.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-doctype,
.hljs-pi,
.lisp .hljs-string,
.hljs-javadoc {
    color : #586e75;
}
.hljs-keyword,
.hljs-winutils,
.method,
.hljs-addition,
.css .hljs-tag,
.hljs-request,
.hljs-status,
.nginx .hljs-title {
    color : #859900;
}
.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-rules .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula,
.hljs-regexp,
.hljs-hexcolor,
.hljs-link_url {
    color : #2aa198;
}
.hljs-title,
.hljs-localvars,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in,
.hljs-identifier,
.vhdl .hljs-literal,
.hljs-id,
.css .hljs-function {
    color : #268bd2;
}
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.smalltalk .hljs-number,
.hljs-constant,
.hljs-class .hljs-title,
.hljs-parent,
.hljs-type,
.hljs-link_reference {
    color : #b58900;
}
.hljs-preprocessor,
.hljs-preprocessor .hljs-keyword,
.hljs-pragma,
.hljs-shebang,
.hljs-symbol,
.hljs-symbol .hljs-string,
.diff .hljs-change,
.hljs-special,
.hljs-attr_selector,
.hljs-subst,
.hljs-cdata,
.css .hljs-pseudo,
.hljs-header {
    color : #cb4b16;
}
.hljs-deletion,
.hljs-important {
    color : #dc322f;
}
.hljs-link_label {
    color : #6c71c4;
}
.tex .hljs-formula {
    background : #073642;
}
