@media screen and (min-width: 320px) {
  html, body, .docs-article p {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(25px + (30 - 25) * ((100vw - 300px) / (1600 - 300)));
  }
}
@media screen and (min-width: 1000px) {
  html, body, .docs-article p {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
/**
#5579D1
$color-blue

 */
.trans {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.trans {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.block {
  display: block !important;
}

body header.header {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  height: 80px !important;
}
body header.header > div.desktop-search-results {
  background-color: white;
  overflow: scroll;
  position: absolute;
  display: block;
  visibility: collapse;
  opacity: 0;
  top: 80px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  padding: 20px 20px !important;
}
body header.header > div.desktop-search-results > h3, body header.header > div.desktop-search-results h2, body header.header > div.desktop-search-results td, body header.header > div.desktop-search-results a {
  color: white;
}
body header.header.fixed-top {
  -webkit-box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.1) !important;
  -moz-box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.1) !important;
  box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.1) !important;
}
body header.header.fixed-top:hover {
  -webkit-box-shadow: 0px 20px 80px rgba(85, 121, 210, 0.45) !important;
  -moz-box-shadow: 0px 20px 80px rgba(85, 121, 210, 0.45) !important;
  box-shadow: 0px 20px 80px rgba(85, 121, 210, 0.45) !important;
  height: 50vh !important;
}
body header.header.fixed-top:hover > div.desktop-search-results {
  background-color: #5579d2;
  color: white !important;
  opacity: 1;
  visibility: visible;
}
body nav.docs-nav.navbar {
  -webkit-box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.1) !important;
  -moz-box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.1) !important;
  box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.1) !important;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
body nav.docs-nav.navbar:hover {
  -webkit-box-shadow: 0px 20px 80px rgba(85, 121, 210, 0.45) !important;
  -moz-box-shadow: 0px 20px 80px rgba(85, 121, 210, 0.45) !important;
  box-shadow: 0px 20px 80px rgba(85, 121, 210, 0.45) !important;
}
body article {
  margin-bottom: 100px;
}
body article.docs-article .docs-time {
  color: #868f96 !important;
  font-size: 20px !important;
  letter-spacing: 5px !important;
}
body article.docs-article h1 {
  font-weight: 900;
  color: #000000 !important;
  margin-bottom: 2rem;
  position: relative;
  font-size: calc(32px + (56 - 32) * ((100vw - 300px) / (1600 - 300))) !important;
}
body article.docs-article h2.section-heading {
  font-weight: 900;
  font-size: calc(28px + (48 - 28) * ((100vw - 300px) / (1600 - 300))) !important;
  margin-top: 25px !important;
  margin-bottom: 1rem !important;
}
body article.docs-article h3.section-heading {
  font-weight: 900;
  /*font-size     : 2.8rem;*/
  font-size: calc(24px + (40 - 24) * ((100vw - 300px) / (1600 - 300))) !important;
  margin-top: 15px !important;
  margin-bottom: 2rem !important;
  color: #5579D2;
}
body article.docs-article p {
  color: #777788 !important;
  text-align: left;
}
body article.docs-article p.section-intro {
  color: #5579D2 !important;
  font-weight: 300 !important;
  font-size: 1.4rem !important;
  line-height: 2.2rem !important;
  margin: 3.5rem 0 !important;
  padding-left: 20px;
  border-left: 15px solid #5579D2 !important;
}
body article.docs-article section.docs-section {
  border-bottom: 3px solid #c7cdd2 !important;
  margin-top: 90px;
  margin-bottom: 40px;
}
body article.docs-article section.docs-section h2.section-heading {
  font-weight: 900;
  font-size: calc(28px + (48 - 28) * ((100vw - 300px) / (1600 - 300))) !important;
  margin-top: 25px !important;
  margin-bottom: 1rem !important;
}
body article.docs-article section.docs-section > h3 {
  font-weight: 700;
  font-size: calc(20px + (48 - 20) * ((100vw - 300px) / (1600 - 300))) !important;
  margin-top: 100px !important;
  margin-bottom: 1.75rem !important;
  color: #5579D2;
}
body article.docs-article section.docs-section > h3.title {
  font-size: calc(20px + (48 - 20) * ((100vw - 300px) / (1600 - 300))) !important;
}
body article.docs-article section.docs-section > h4, body article.docs-article section.docs-section h4 {
  font-weight: 900;
  font-size: 1.8rem;
  margin-top: 10px;
  margin-bottom: 2.75rem;
  color: #5579D2;
}
body article.docs-article section.docs-section h5 {
  font-weight: 700 !important;
  font-size: 1.4rem !important;
  margin-top: 45px !important;
  margin-bottom: 1.2rem;
}
body article.docs-article section.docs-section .index-id {
  display: block !important;
  float: right;
  clear: right;
  font-size: 80%;
  font-weight: 200;
  text-align: right;
  color: #5D6778;
}
body article.docs-article section.docs-section blockquote, body article.docs-article section.docs-section .blockquote {
  position: relative;
  border-radius: 8px 8px 8px 8px !important;
  width: 100% !important;
  border-top: 12px solid #5579D2;
  border-bottom: 4px solid #5579D2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block !important;
  margin: 60px 0px !important;
  padding: 60px 60px !important;
  -webkit-box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.2) !important;
  -moz-box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.2) !important;
  box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.2) !important;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
body article.docs-article section.docs-section blockquote h3, body article.docs-article section.docs-section .blockquote h3 {
  font-size: 35px !important;
  line-height: 35px !important;
  font-weight: 900 !important;
  color: #5579D2;
}
body article.docs-article section.docs-section blockquote h4, body article.docs-article section.docs-section .blockquote h4 {
  font-size: 22px !important;
  line-height: 22px !important;
  font-weight: 200 !important;
  color: #9ba4aa;
}
body article.docs-article section.docs-section blockquote .quoted, body article.docs-article section.docs-section .blockquote .quoted {
  display: block !important;
  margin: 20px 0 30px 0 !important;
}
body article.docs-article section.docs-section blockquote i.icon.fas, body article.docs-article section.docs-section .blockquote i.icon.fas {
  display: block !important;
  position: absolute !important;
  top: 12px !important;
  left: 12px !important;
  width: 32px !important;
  height: 32px;
  font-size: 30px !important;
}
body article.docs-article section.docs-section blockquote > p, body article.docs-article section.docs-section .blockquote > p {
  text-align: justify !important;
  margin: 40px 0;
}
body article.docs-article section.docs-section blockquote p.reference, body article.docs-article section.docs-section .blockquote p.reference {
  position: relative;
  border-radius: 5px;
  font-size: 13px !important;
  line-height: 15px !important;
  font-weight: 600 !important;
  color: #44484c;
  background-color: #fbfcfc;
  border: 2px solid #eef1f3;
  border-left: 45px solid #dde2e6;
  padding: 10px 15px;
  margin: 0 0 20px 0;
}
body article.docs-article section.docs-section blockquote p.reference i.icon.fas, body article.docs-article section.docs-section .blockquote p.reference i.icon.fas {
  display: block !important;
  position: absolute !important;
  top: 12px !important;
  left: -25px !important;
  width: 32px !important;
  height: 32px;
  font-size: 20px !important;
}
body article.docs-article section.docs-section blockquote p.reference a.reference-link, body article.docs-article section.docs-section .blockquote p.reference a.reference-link {
  border-radius: 4px;
  margin: 0;
  padding: 5px 0;
  font-size: 12px !important;
  color: #44484c;
  font-weight: 300 !important;
  display: block !important;
}
body article.docs-article section.docs-section blockquote:hover, body article.docs-article section.docs-section .blockquote:hover {
  -webkit-box-shadow: 0px 20px 80px rgba(85, 121, 210, 0.45) !important;
  -moz-box-shadow: 0px 20px 80px rgba(85, 121, 210, 0.45) !important;
  box-shadow: 0px 20px 80px rgba(85, 121, 210, 0.45) !important;
}
body article.docs-article section.docs-section blockquote:hover p.reference, body article.docs-article section.docs-section .blockquote:hover p.reference {
  background-color: #fbfcfc;
}
body .to-top {
  display: block !important;
  position: fixed !important;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 70px !important;
  height: 70px !important;
  border-radius: 100% !important;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #44484c;
  background-color: #eef1f3;
  bottom: 50px;
  right: 50px !important;
  font-size: 12px !important;
  letter-spacing: 2px !important;
  text-align: center !important;
  padding-top: 12px;
}
body .to-top:before {
  content: "^";
  align-content: center;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body .to-top:hover {
  bottom: 60px;
  background-color: #5579D2;
  color: white;
}
body .to-top:hover:before {
  margin-top: 5px;
}

.stretched {
  letter-spacing: 3px;
  display: block !important;
}

caption.diagram, p.diagram {
  margin: 10px auto 70px auto !important;
  color: #9ba4aa;
}

b, .bold {
  font-weight: 900;
}

.lite {
  font-weight: 400 !important;
}

.liter {
  font-weight: 300 !important;
}

.litest {
  font-weight: 200 !important;
}

.smaller {
  font-size: smaller;
}

.small {
  font-size: small;
}

.reference {
  color: #dde2e6;
  font-size: smaller;
}
.reference > a {
  text-align: left;
  color: #dde2e6;
  display: block !important;
  border-radius: 4px;
}

span.language {
  font-weight: 700;
  color: #eef1f3;
}

.text-blue {
  color: #5579D2 !important;
}

.text-dark-blue {
  color: #5579D2 !important;
}

.bg-blue {
  color: #FFFFFF !important;
  background-color: #5579D2 !important;
}

.bg-dark-blue {
  color: #FFFFFF !important;
  background-color: #5579D2 !important;
}

.lighthouse > img {
  max-width: 32%;
  margin: 20px 0.25% !important;
}
.lighthouse > img._20 {
  max-width: 18%;
  margin: 15px 0.25% !important;
}

svg#CaptionInspectorCircle g.caption-inspector-logo {
  -webkit-box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.1) !important;
  -moz-box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.1) !important;
  box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.1) !important;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
svg#CaptionInspectorCircle g.caption-inspector-logo circle.circle-background {
  fill: #F9F9F9;
  border: 10px solid rgba(140, 140, 140, 0.5);
  stroke: rgba(140, 140, 140, 0.15);
  stroke-width: 1%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
svg#CaptionInspectorCircle g.caption-inspector-logo path.eye-glass {
  fill: #FFFFFF;
  opacity: 0.2;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
svg#CaptionInspectorCircle g.caption-inspector-logo path.inspector-face {
  fill: #232334;
  -webkit-transition: all 0.85s ease-out;
  -moz-transition: all 0.85s ease-out;
  -o-transition: all 0.85s ease-out;
  transition: all 0.85s ease-out;
}
svg#CaptionInspectorCircle g.caption-inspector-logo:hover circle.circle-background {
  fill: #FFFFFD !important;
  stroke: rgba(207, 139, 53, 0.95);
  stroke-width: 4%;
}
svg#CaptionInspectorCircle g.caption-inspector-logo:hover path.inspector-face {
  fill: #D59E25 !important;
}
svg#CaptionInspectorCircle g.caption-inspector-logo:hover path.eye-glass {
  opacity: 0.85;
  size: 50%;
}

.bump {
  margin-top: 25px;
}

.bump.bump {
  margin-top: 50px;
}

.bump.bump.bump {
  margin-top: 75px;
}

span.language {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  color: #5D6778;
  font-weight: 900;
}

table.software > thead {
  color: #FFFFFF !important;
  background-color: #5579D2 !important;
}

ol.guidelines > li {
  margin-left: 45px;
}

ol.guidelines li > span.description {
  display: block !important;
}

div.outline-indicator {
  display: block !important;
  /*float      : right !important;*/
  /*clear      : right !important;*/
  color: #DDDDDE !important;
  max-width: 60px !important;
  text-align: right !important;
  position: absolute !important;
  top: 5px !important;
  right: 0 !important;
}

.docs-nav {
  position: relative !important;
}
.docs-nav a.nav-link {
  display: block;
  position: relative !important;
  padding: 0px 50px 15px 15px;
  color: #868f96;
}
.docs-nav .nav-item {
  position: relative !important;
}
.docs-nav .nav-item:focus, .docs-nav .nav-item:active {
  color: #5579D2 !important;
}
.docs-nav .nav-item.section-title a.nav-link {
  font-weight: 700 !important;
  position: relative !important;
  color: #44484c;
}
.docs-nav .nav-item.section-title a.nav-link .outline-indicator {
  display: block !important;
  color: #DDDDDE !important;
  max-width: 60px !important;
  text-align: right !important;
  position: absolute !important;
  top: 5px !important;
  right: 0 !important;
}
.docs-nav .nav-item.section-title a.nav-link:hover {
  display: block;
  font-weight: 900 !important;
  color: #5579D2;
}
.docs-nav .nav-item.section-title a.nav-link:hover .outline-indicator {
  color: #5579D2 !important;
}
.docs-nav .nav-item.section-title:hover {
  color: #2a2c2d;
}
.docs-nav .nav-item.section-title:focus {
  color: #5579D2 !important;
}

a.nav-link {
  display: block;
}

.docs-nav a.nav-link {
  display: block;
  position: relative !important;
  padding: 0px 50px 15px 15px;
  color: #868f96;
}

.nav-item.section-title a.nav-link {
  font-weight: 700 !important;
  position: relative !important;
  color: #5579D2;
}

.nav-item.section-title a.nav-link:hover {
  display: block;
  font-weight: 900 !important;
  position: relative !important;
  color: #44484c !important;
}

.nav-item.section-title a.nav-link.active,
.nav-item.section-title a.nav-link:focus,
.nav-item.section-title a.nav-link:active {
  display: block;
  font-weight: 900 !important;
  position: relative !important;
  color: #5579D2 !important;
}

.user-name {
  color: #44484c;
  font-weight: 900;
}

.user-title {
  color: #44484c;
}

.file-ext {
  color: #c7cdd2;
  font-weight: 200 !important;
}

td h1, td h2, td h3, td h4, td h5 {
  margin-top: 0px !important;
}

table {
  margin-top: 75px;
  margin-bottom: 55px;
}

.no-shadow,
.no-shadow:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.shadow {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

img.diagram {
  display: block !important;
  width: 100%;
  max-width: 1000px;
  margin: 80px auto 0px auto !important;
}

.graphic-caption {
  color: #5579D2;
  text-align: left;
  font-size: 11px;
  margin: 5px 0 60px 0;
}

img.graphic-diagram {
  display: block !important;
  width: 100%;
  max-width: 1024px;
  margin: 80px auto 0px auto !important;
}

img.caption-inspector-logo {
  display: block !important;
  width: 100%;
  max-width: 1024px;
  margin: 80px auto;
}

.callout-block {
  -webkit-box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.1) !important;
  -moz-box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.1) !important;
  box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.1) !important;
  color: white !important;
  border-radius: 8px !important;
  border-left-width: 60px !important;
  padding: 0px 25% 0px 0px !important;
  margin: 35px 0px 55px 0px !important;
  position: relative !important;
}
.callout-block span.callout-icon-holder {
  position: absolute !important;
  top: 25px;
  left: -45px;
  font-size: 30px !important;
}
.callout-block.callout-block-info, .callout-block.callout-block-warning, .callout-block.callout-block-error {
  color: white !important;
}
.callout-block.callout-block-warning {
  border-color: #E66B00 !important;
  background: #FFA700 !important;
}
.callout-block > .content {
  color: white !important;
  padding: 20px 20px 20px 30px !important;
  margin: 0px !important;
}
.callout-block > .content a, .callout-block > .content li {
  color: white !important;
  clear: left !important;
}
.callout-block > .content > p {
  color: white !important;
  margin: 5px 0 15px 0 !important;
  font-size: 17px;
  line-height: 26px;
  text-align: justify;
}
.callout-block > .content > h4.callout-title {
  display: block;
  display: block;
  padding: 0px !important;
  margin: 0 0 10px 0 !important;
  font-weight: 900 !important;
  font-size: 2rem !important;
  line-height: 3rem;
  color: white !important;
}

.docs-overview .card-icon-holder {
  border-radius: 0 0 30px 30px !important;
  margin-bottom: 24px !important;
}

.card .card-icon-holder {
  border-radius: 0 0 30px 30px !important;
  margin-bottom: 24px !important;
}

.info-card {
  float: left;
  margin: 10px;
  -webkit-perspective: 600px;
}
.info-card .card-image {
  width: 100%;
  height: 100%;
}
.info-card .btn-set {
  list-style: none;
  padding: 0px;
  margin-top: 25px;
  text-align: center;
}
.info-card .btn-set a {
  position: relative;
  display: inline-block;
  min-width: 40px;
  padding: 5px 15px;
  margin: 0px 5px;
  overflow: hidden;
  text-align: center;
  /*background-color: rgb(215, 215, 215);*/
  border-radius: 40px;
}
.info-card .btn-set .btn {
  border: none;
}
.info-card .btn-set .btn.btn-get-started {
  color: white;
  background-color: #418ACB;
}
.info-card .btn-set .btn.btn-get-started:hover {
  color: white;
  background-color: #4170BB;
}
.info-card .btn-set .btn.btn-learn-more {
  color: white;
  background-color: #72B444;
}
.info-card .btn-set .btn.btn-learn-more:hover {
  color: white;
  background-color: #72A333;
}
.info-card .card-icon-holder {
  border-radius: 0 0 30px 30px !important;
  margin-bottom: 24px !important;
}
.info-card .front, .info-card .back {
  border: none !important;
  background: #FFFFFF;
  border-radius: 10px;
  transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}
.info-card .front a.icon, .info-card .back a.icon {
  text-decoration: none !important;
  box-shadow: 0px 0px 1px #333333;
  box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
}
.info-card .front a.icon:hover, .info-card .back a.icon:hover {
  color: #FFFFFF !important;
}
.info-card .front {
  text-align: center;
  background: #5579D1;
  color: #FFFFFF;
  overflow: hidden;
  width: 250px;
  height: 330px;
  position: absolute;
  z-index: 1;
}
.info-card .back {
  padding: 20px;
  padding-top: 0px;
  width: 250px;
  height: 330px;
  -webkit-transform: rotateY(-180deg);
  overflow: scroll;
  box-shadow: 0px 5px 15px rgba(100, 100, 100, 0.35);
}
.info-card:hover .back {
  -webkit-transform: rotateY(0);
}
.info-card:hover .front {
  -webkit-transform: rotateY(180deg);
}

pre {
  margin: 40px 0 !important;
  border: 4px solid #c7cdd2;
  -webkit-box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.2) !important;
  -moz-box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.2) !important;
  box-shadow: 0px 10px 30px rgba(85, 121, 210, 0.2) !important;
  padding: 20px;
  border-radius: 8px !important;
}

code {
  padding: 2px 4px;
  color: #C7254E;
  background-color: #F9F2F4;
  border-radius: 4px;
}
code kbd {
  padding: 2px 4px;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
code kbd kbd {
  padding: 0;
  font-size: 100%;
  box-shadow: none;
}

code,
kbd {
  padding: 2px 4px;
}

kbd {
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  box-shadow: none;
}

/*pre {*/
/*display          : block;*/
/*margin           : 0 0 10px;*/
/*word-break       : break-all;*/
/*word-wrap        : break-word;*/
/*color            : #333;*/
/*background-color : #f5f5f5;*/
/*border           : 1px solid #ccc;*/
/*border-radius    : 4px;*/
/*}*/
/*pre code {*/
/*padding          : 15px !important;*/
/*font-size        : inherit;*/
/*color            : inherit;*/
/*white-space      : pre-wrap;*/
/*background-color : transparent;*/
/*border-radius    : 0;*/
/*}*/
/*.pre-scrollable {*/
/*max-height : 340px;*/
/*overflow-y : scroll;*/
/*}*/
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002B36;
  color: #839496;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-doctype,
.hljs-pi,
.lisp .hljs-string,
.hljs-javadoc {
  color: #586E75;
}

.hljs-keyword,
.hljs-winutils,
.method,
.hljs-addition,
.css .hljs-tag,
.hljs-request,
.hljs-status,
.nginx .hljs-title {
  color: #859900;
}

.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-rules .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula,
.hljs-regexp,
.hljs-hexcolor,
.hljs-link_url {
  color: #2AA198;
}

.hljs-title,
.hljs-localvars,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in,
.hljs-identifier,
.vhdl .hljs-literal,
.hljs-id,
.css .hljs-function {
  color: #268BD2;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.smalltalk .hljs-number,
.hljs-constant,
.hljs-class .hljs-title,
.hljs-parent,
.hljs-type,
.hljs-link_reference {
  color: #B58900;
}

.hljs-preprocessor,
.hljs-preprocessor .hljs-keyword,
.hljs-pragma,
.hljs-shebang,
.hljs-symbol,
.hljs-symbol .hljs-string,
.diff .hljs-change,
.hljs-special,
.hljs-attr_selector,
.hljs-subst,
.hljs-cdata,
.css .hljs-pseudo,
.hljs-header {
  color: #CB4B16;
}

.hljs-deletion,
.hljs-important {
  color: #DC322F;
}

.hljs-link_label {
  color: #6C71C4;
}

.tex .hljs-formula {
  background: #073642;
}

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+ruby+git+haml+handlebars+http+php+python+sass+scss+vim+yaml&plugins=line-numbers */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*=language-],
pre[class*=language-] {
  color: #F8F8F2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #F8F8F2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #F92672;
}

.token.boolean,
.token.number {
  color: #AE81FF;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #A6E22E;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #F8F8F2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #E6DB74;
}

.token.keyword {
  color: #66D9EF;
}

.token.regex,
.token.important {
  color: #FD971F;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/*# sourceMappingURL=styles.css.map */
