python/.idea/
obj/
python/*.dylib
golang/libgb.a
caption-inspector
cscope.out
tags
python/venv
venv
python/jobs
test/examples/*
test/python/__pycache__/*
.idea/
cmake-build-debug/
*__debug_log.txt
test/python/libci-test.1.0.0.dylib
test/python/*.xml
test/python/*.html
test/utest__buffer_utils_c
test/utest__cc_utils_c
test/utest__external_adaptor_c
test/utest__output_utils_c
test/utest__pipeline_utils_c
test/itest__buffer_utils
test/itest__pipeline_utils
