/*************************** Theme Colours****************************/

@import "theme/_colors.scss";
/*************************** Variables Section. *****************************/
// Create variables to override the default value for variables used in the Bootstrap SCSS files.

$theme-colors: (
  "primary":    $theme-color-primary,
  "secondary":  $color-blue-darker,
  "success":    $theme-success-color,
  "danger":     $theme-danger-color,
  "warning":    $theme-warning-color,
  "info":       $theme-info-color,
);
/*************************** Import Bootstrap  *****************************/
@import "bootstrap/scss/bootstrap.scss";

/*************************** Theme Styles Section ****************************/
@import "theme/styles.scss";
.text-blue {
    color : $theme-color-primary !important;
}
.text-dark-blue {
    color : $color-blue-darker !important;
}
.bg-blue {
    color            : #ffffff !important;
    background-color : $theme-color-primary !important;
}
.bg-dark-blue {
    color            : #ffffff !important;
    background-color : $color-blue-darker !important;
}
